body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header */
.header {
  background: var(--WHITE, #fff);
}
.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.span-logo {
  color: var(--NAVY-BLUE, #2e2f42);
}
.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-link {
  color: var(--SLATE, #434455);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* Main */
.main-info {
  background: var(--NAVY-BLUE, #2e2f42);
}
.main-info-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.main-info-btn {
  color: var(--WHITE, #fff);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background: var(--IRIS, #4d5ae5);
}
.main-info-btn:hover,
.main-info-btn:focus {
  color: #404bbf;
  background-color: #404bbf;
}
/*Jur advantages  */
.advantages {
  background: #fff;
}
.advantages-sutitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.advantages-iteam {
  color: var(--SLATE, #434455);
}
/* Team */
.team {
  background: var(--CLOUD, #f4f4fd);
}
.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-iteam {
  background: var(--WHITE, #fff);
}
.team-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  color: var(--SLATE, #434455);
  text-align: center;
}
/* Our Portfolio */
.portfolio {
  background: #fff;
}
.portfolio-titel {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-iteam {
  background: var(--WHITE, #fff);
}
.portfolio-subtitel {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: var(--SLATE, #434455);
}
/*Footer*/
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}
.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
}
.span-logo-footer {
  color: #f4f4fd;
}
